<nav class="tab-bar">
  <section class="middle tab-bar-section">
    <h1 class="title"><%= link_to 'Creatures', root_path, class:'middle-tab'%></h1>
  </section>
  <section>
    <%= link_to 'New Creature', new_creature_path %>
  </section>
</nav>
