<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "BogCreatures", root_path %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="nav-li"><%= link_to "All Bogs", root_path, class:"style-a" %></li>
      <li class="divider"></li>
      <li><%= link_to "New Creature", new_creature_path, data: {:"reveal-id" => "newCreatureModal", :"reveal-ajax" => true}, class:"style-a" %></li>
    </ul>
  </section>
</nav>
  <section>
    <div id="newCreatureModal" class="reveal-modal "data-reveal>
      <%= render "partials/newCreature" %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </section>
