<h1>Welcome to the Bog!</h1>
<hr>
<% @creatures.each do |creature| %>
  <h4><%= link_to creature.name, creature_path(creature) %></a></h4>
  <p><%= creature.description %></p>
  <hr>
<% end %>
<%= link_to "Add New Creature", new_creature_path, class: "btn btn-default" %>