<h1>All Creatures</h1>
<hr>

<% @creatures.each do |creature| %>
  <p>
    <strong>Name:</strong> <%= creature.name %><br>
    <strong>Description:</strong> <%= creature.description %>
  </p>
  <%= link_to "Show", creature %>

  <hr>
<% end %>


