<h1>All Creatures</h1>

<!-- creatures is the parameters to go through the loop. Similar to for each loop in JS. The block is telling us to go through the list of creatures -->
<% @creatures.each do |creature| %> 
	<% creature %> 

<% end %> 