<h2>Add a New Creature</h2>
<hr>
<%= form_for @creature do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save Creature", class: "btn btn-block btn-default" %>
  </div>
<% end %>