<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3><strong>Name: </strong><%= @creature.name %></h3>
		<p><strong>Description: </strong><%=  @creature.description %></p>
		<a href="/creatures/<%= @creature.id %>/edit"><button class="btn buttons">Edit</button></a>
		<span class="buttons"><%= button_to "Delete", @creature, method: :delete, :class=>"btn" %></span>
	</div>
</div>