<div class="callout large primary">
  <div class="column text-center">
    <h1><%= @creature.name %></h1>
    <h2 class="subheader"><%= @creature.description %></h2>
  </div>
    <div class=" row medium-8 large-7">
      <div class="blog-post">
        <%= image_tag @creature.avatar_url(:thumb).to_s %> <br>
        <%= link_to 'Back', creatures_path %>
      </div>
    </div>
</div>