<div class= "text-center">
<h2><strong>Creature: </strong> <%= @creature.name.capitalize %></h2>
<hr>
<h4><strong>Descrption: </strong><%= @creature.description %></h4>
<%= image_tag @creature.image.url(:large) %>



