<div class= "col-md-6">
<h3><strong>Creature: </strong> <%= @creature.name.capitalize %></h3>
<hr>
<p><strong>Descrption: </strong><%= @creature.description %></p>
<%= button_to "Delete", @creature, method: :delete , class: "btn-sm btn-danger btn-info", data: {confirm: "Are you sure you want to delete creature?"} %>


